# User groups

In [68]:
request = "POST https://analyticsreporting.googleapis.com/v4/reports:batchGet?fields=reports(columnHeader%2Cdata(rows%2Ctotals))&key={YOUR_API_KEY}"
request = {
 "reportRequests": [
  {
   "viewId": "123303369",
   "dateRanges": [
    {
     "startDate": "2017-01-01",
     "endDate": "2017-04-30"
    }
   ],
   "metrics": [
    {
     "expression": "ga:sessions"
    },
    {
     "expression": "ga:sessionDuration"
    },
    {
     "expression": "ga:goal1Completions"
    },
    {
     "expression": "ga:bounceRate"
    }
   ],
   "dimensions": [
    {
     "name": "ga:city"
    },
    {
     "name": "ga:userAgeBracket"
    }
   ]
  }
 ]
}

In [69]:
import json

with open('data/TMRW_user_groups.json') as file:
    input_ugroups = json.load(file)
    
#input_ugroups

# Define dimensions list
input_ugroups_dimensions = input_ugroups['reports'][0]['columnHeader']['dimensions']

dimension_count = len(input_ugroups_dimensions)

# Define metrics list
input_ugroups_metrics = input_ugroups['reports'][0]['columnHeader']['metricHeader']['metricHeaderEntries']

def create_metric_list(raw_data):
    lst = []
    for item in raw_data:
        lst.append(item['name'])
    return lst

input_ugroups_metrics = create_metric_list(input_ugroups_metrics)


# Create input data

input_ugroups_data = input_ugroups['reports'][0]['data']['rows']

input_ugroups_data

[{'dimensions': ['Croydon', '18-24'],
  'metrics': [{'values': ['101',
     '41.584158415841586',
     '4',
     '3.9603960396039604']}]},
 {'dimensions': ['Croydon', '25-34'],
  'metrics': [{'values': ['334',
     '47.90419161676647',
     '17',
     '5.089820359281437']}]},
 {'dimensions': ['Croydon', '35-44'],
  'metrics': [{'values': ['223',
     '43.04932735426009',
     '7',
     '3.1390134529147984']}]},
 {'dimensions': ['Croydon', '45-54'],
  'metrics': [{'values': ['90',
     '45.55555555555556',
     '2',
     '2.2222222222222223']}]},
 {'dimensions': ['Croydon', '55-64'],
  'metrics': [{'values': ['32', '53.125', '1', '3.125']}]},
 {'dimensions': ['London', '18-24'],
  'metrics': [{'values': ['167',
     '49.700598802395206',
     '8',
     '4.790419161676647']}]},
 {'dimensions': ['London', '25-34'],
  'metrics': [{'values': ['842',
     '59.14489311163895',
     '24',
     '2.8503562945368173']}]},
 {'dimensions': ['London', '35-44'],
  'metrics': [{'values': ['482',
     '54.77178423236515',
     '14',
     '2.904564315352697']}]},
 {'dimensions': ['London', '45-54'],
  'metrics': [{'values': ['205',
     '55.60975609756098',
     '3',
     '1.4634146341463417']}]},
 {'dimensions': ['London', '55-64'],
  'metrics': [{'values': ['37', '48.64864864864865', '0', '0.0']}]}]

In [70]:
values_list = []
for group in input_ugroups_data:
    new_dim_name = group['dimensions'][0] + ", " + group['dimensions'][1]
    group[new_dim_name] = group['metrics'][0]
    del group['dimensions']
    del group['metrics']
    
    #conv_rate = round(float(int(group[new_dim_name]['values'][2])/int(group[new_dim_name]['values'][0])*100),2)
    values_list.append(group[new_dim_name]['values'])

    #group[new_dim_name]['values'].append(conv_rate)
    
    
#values_list    
input_ugroups_data

[{'Croydon, 18-24': {'values': ['101',
    '41.584158415841586',
    '4',
    '3.9603960396039604']}},
 {'Croydon, 25-34': {'values': ['334',
    '47.90419161676647',
    '17',
    '5.089820359281437']}},
 {'Croydon, 35-44': {'values': ['223',
    '43.04932735426009',
    '7',
    '3.1390134529147984']}},
 {'Croydon, 45-54': {'values': ['90',
    '45.55555555555556',
    '2',
    '2.2222222222222223']}},
 {'Croydon, 55-64': {'values': ['32', '53.125', '1', '3.125']}},
 {'London, 18-24': {'values': ['167',
    '49.700598802395206',
    '8',
    '4.790419161676647']}},
 {'London, 25-34': {'values': ['842',
    '59.14489311163895',
    '24',
    '2.8503562945368173']}},
 {'London, 35-44': {'values': ['482',
    '54.77178423236515',
    '14',
    '2.904564315352697']}},
 {'London, 45-54': {'values': ['205',
    '55.60975609756098',
    '3',
    '1.4634146341463417']}},
 {'London, 55-64': {'values': ['37', '48.64864864864865', '0', '0.0']}}]

In [74]:
# Define each metric dict

ugroups_data = {}

for ugroup in input_ugroups_data:
    #print (ugroup)
    
    for gr in ugroup:
        ugroups_data[gr] = {'sessions':0,
                       'bounce_rate':0,
                       'conversions':0,
                       'conversion_rate':0}
        
        ugroups_data[gr]['sessions'] = round(float(ugroup[gr]['values'][0]),2)
        ugroups_data[gr]['conversions'] = round(float(ugroup[gr]['values'][1]),2)
        ugroups_data[gr]['bounce_rate'] = round(float(ugroup[gr]['values'][2]),2)
        ugroups_data[gr]['conversion_rate'] = round(float(ugroup[gr]['values'][3]),2)
        
#ugroups_data

In [75]:
rows = list(ugroups_data.keys())
rows

['Croydon, 18-24',
 'Croydon, 25-34',
 'Croydon, 35-44',
 'Croydon, 45-54',
 'Croydon, 55-64',
 'London, 18-24',
 'London, 25-34',
 'London, 35-44',
 'London, 45-54',
 'London, 55-64']

In [76]:
import collections
from collections import OrderedDict

columns = []
for u in ugroups_data:
    #print (test[r])
    for metric in ugroups_data[u]:
        columns.append(metric)
    
columns = list(OrderedDict.fromkeys(columns))    
columns

['sessions', 'bounce_rate', 'conversions', 'conversion_rate']

In [77]:
import pandas as pd

In [78]:
df = pd.DataFrame(values_list,
                  index = rows,
                  columns = columns)

df.to_json(orient='split')
table = pd.read_json(df.to_json(orient='split'), orient='split')
table

                sessions  bounce_rate  conversions  conversion_rate
Croydon, 18-24       101    41.584158            4         3.960396
Croydon, 25-34       334    47.904192           17         5.089820
Croydon, 35-44       223    43.049327            7         3.139013
Croydon, 45-54        90    45.555556            2         2.222222
Croydon, 55-64        32    53.125000            1         3.125000
London, 18-24        167    49.700599            8         4.790419
London, 25-34        842    59.144893           24         2.850356
London, 35-44        482    54.771784           14         2.904564
London, 45-54        205    55.609756            3         1.463415
London, 55-64         37    48.648649            0         0.000000

In [83]:
samples1=[]
for i in range(0,len(table)):
    a = [table.sessions[i],table.bounce_rate[i],table.conversions[i],table.conversion_rate[i]]
    print(a)
samples1=a
#return samples1
#print(samples1)

[101, 41.584158415841586, 4, 3.9603960396039604]
[334, 47.904191616766468, 17, 5.0898203592814371]
[223, 43.049327354260093, 7, 3.1390134529147984]
[90, 45.555555555555557, 2, 2.2222222222222223]
[32, 53.125, 1, 3.125]
[167, 49.700598802395206, 8, 4.7904191616766472]
[842, 59.14489311163895, 24, 2.8503562945368173]
[482, 54.77178423236515, 14, 2.904564315352697]
[205, 55.609756097560982, 3, 1.4634146341463417]
[37, 48.648648648648653, 0, 0.0]

In [35]:
a = samples1
a

[205, 55.609756097560982, 3, 1.4634146341463417, 1.46]