# User groups

In [71]:
request = "POST https://analyticsreporting.googleapis.com/v4/reports:batchGet?fields=reports(columnHeader%2Cdata(rows%2Ctotals))&key={YOUR_API_KEY}"
request = {
 "reportRequests": [
  {
   "viewId": "123303369",
   "dateRanges": [
    {
     "startDate": "2017-01-01",
     "endDate": "2017-04-30"
    }
   ],
   "metrics": [
    {
     "expression": "ga:sessions"
    },
    {
     "expression": "ga:sessionDuration"
    },
    {
     "expression": "ga:goal1Completions"
    },
    {
     "expression": "ga:bounceRate"
    }
   ],
   "dimensions": [
    {
     "name": "ga:city"
    },
    {
     "name": "ga:userAgeBracket"
    }
   ]
  }
 ]
}

In [212]:
import json

with open('data/TMRW_user_groups.json') as file:
    input_ugroups = json.load(file)
    
#input_ugroups

# Define dimensions list
input_ugroups_dimensions = input_ugroups['reports'][0]['columnHeader']['dimensions']

dimension_count = len(input_ugroups_dimensions)

# Define metrics list
input_ugroups_metrics = input_ugroups['reports'][0]['columnHeader']['metricHeader']['metricHeaderEntries']

def create_metric_list(raw_data):
    lst = []
    for item in raw_data:
        lst.append(item['name'])
    return lst

input_ugroups_metrics = create_metric_list(input_ugroups_metrics)


# Create input data

input_ugroups_data = input_ugroups['reports'][0]['data']['rows']

input_ugroups_data

[{'dimensions': ['Croydon', '18-24'],
  'metrics': [{'values': ['101',
     '41.584158415841586',
     '4',
     '3.9603960396039604']}]},
 {'dimensions': ['Croydon', '25-34'],
  'metrics': [{'values': ['334',
     '47.90419161676647',
     '17',
     '5.089820359281437']}]},
 {'dimensions': ['Croydon', '35-44'],
  'metrics': [{'values': ['223',
     '43.04932735426009',
     '7',
     '3.1390134529147984']}]},
 {'dimensions': ['Croydon', '45-54'],
  'metrics': [{'values': ['90',
     '45.55555555555556',
     '2',
     '2.2222222222222223']}]},
 {'dimensions': ['Croydon', '55-64'],
  'metrics': [{'values': ['32', '53.125', '1', '3.125']}]},
 {'dimensions': ['London', '18-24'],
  'metrics': [{'values': ['167',
     '49.700598802395206',
     '8',
     '4.790419161676647']}]},
 {'dimensions': ['London', '25-34'],
  'metrics': [{'values': ['842',
     '59.14489311163895',
     '24',
     '2.8503562945368173']}]},
 {'dimensions': ['London', '35-44'],
  'metrics': [{'values': ['482',
     '54.77178423236515',
     '14',
     '2.904564315352697']}]},
 {'dimensions': ['London', '45-54'],
  'metrics': [{'values': ['205',
     '55.60975609756098',
     '3',
     '1.4634146341463417']}]},
 {'dimensions': ['London', '55-64'],
  'metrics': [{'values': ['37', '48.64864864864865', '0', '0.0']}]}]

In [213]:
values_list = []
for group in input_ugroups_data:
    new_dim_name = group['dimensions'][0] + ", " + group['dimensions'][1]
    group[new_dim_name] = group['metrics'][0]
    del group['dimensions']
    del group['metrics']
    
    #conv_rate = round(float(int(group[new_dim_name]['values'][2])/int(group[new_dim_name]['values'][0])*100),2)
    group[new_dim_name]['values'] = list(map(float,group[new_dim_name]['values']))
    #group[new_dim_name]['values'].append(new_dim_name)
    values_list.append(group[new_dim_name]['values'])
    group[new_dim_name]['values'].insert(0,new_dim_name)
    #list(map(float,group[new_dim_name]['values'])).append(new_dim_name)
    #values_list = values_list.apply(lambda x: x[0][0][1])

    #group[new_dim_name]['values'].append(conv_rate)
    #print(group[new_dim_name])
    
values_list    
#input_ugroups_data

[['Croydon, 18-24', 101.0, 41.584158415841586, 4.0, 3.9603960396039604],
 ['Croydon, 25-34', 334.0, 47.90419161676647, 17.0, 5.089820359281437],
 ['Croydon, 35-44', 223.0, 43.04932735426009, 7.0, 3.1390134529147984],
 ['Croydon, 45-54', 90.0, 45.55555555555556, 2.0, 2.2222222222222223],
 ['Croydon, 55-64', 32.0, 53.125, 1.0, 3.125],
 ['London, 18-24', 167.0, 49.700598802395206, 8.0, 4.790419161676647],
 ['London, 25-34', 842.0, 59.14489311163895, 24.0, 2.8503562945368173],
 ['London, 35-44', 482.0, 54.77178423236515, 14.0, 2.904564315352697],
 ['London, 45-54', 205.0, 55.60975609756098, 3.0, 1.4634146341463417],
 ['London, 55-64', 37.0, 48.64864864864865, 0.0, 0.0]]

In [214]:
# Define each metric dict

ugroups_data = {}

for ugroup in input_ugroups_data:
    #print (ugroup)
    
    for gr in ugroup:
        ugroups_data[gr] = {'sessions':0,
                       'bounce_rate':0,
                       'conversions':0,
                       'conversion_rate':0}
        
        ugroups_data[gr]['sessions'] = round(float(ugroup[gr]['values'][1]),2)
        ugroups_data[gr]['conversions'] = round(float(ugroup[gr]['values'][2]),2)
        ugroups_data[gr]['bounce_rate'] = round(float(ugroup[gr]['values'][3]),2)
        ugroups_data[gr]['conversion_rate'] = round(float(ugroup[gr]['values'][4]),2)
        
ugroups_data

{'Croydon, 18-24': {'bounce_rate': 4.0,
  'conversion_rate': 3.96,
  'conversions': 41.58,
  'sessions': 101.0},
 'Croydon, 25-34': {'bounce_rate': 17.0,
  'conversion_rate': 5.09,
  'conversions': 47.9,
  'sessions': 334.0},
 'Croydon, 35-44': {'bounce_rate': 7.0,
  'conversion_rate': 3.14,
  'conversions': 43.05,
  'sessions': 223.0},
 'Croydon, 45-54': {'bounce_rate': 2.0,
  'conversion_rate': 2.22,
  'conversions': 45.56,
  'sessions': 90.0},
 'Croydon, 55-64': {'bounce_rate': 1.0,
  'conversion_rate': 3.12,
  'conversions': 53.12,
  'sessions': 32.0},
 'London, 18-24': {'bounce_rate': 8.0,
  'conversion_rate': 4.79,
  'conversions': 49.7,
  'sessions': 167.0},
 'London, 25-34': {'bounce_rate': 24.0,
  'conversion_rate': 2.85,
  'conversions': 59.14,
  'sessions': 842.0},
 'London, 35-44': {'bounce_rate': 14.0,
  'conversion_rate': 2.9,
  'conversions': 54.77,
  'sessions': 482.0},
 'London, 45-54': {'bounce_rate': 3.0,
  'conversion_rate': 1.46,
  'conversions': 55.61,
  'sessions': 205.0},
 'London, 55-64': {'bounce_rate': 0.0,
  'conversion_rate': 0.0,
  'conversions': 48.65,
  'sessions': 37.0}}

In [215]:
import collections
from collections import OrderedDict

columns = []
for u in ugroups_data:
    #print (u)
    for metric in ugroups_data[u]:
        columns.append('city_age')
        columns.append(metric)
        
    
columns = list(OrderedDict.fromkeys(columns))    
columns

['city_age', 'sessions', 'bounce_rate', 'conversions', 'conversion_rate']

In [216]:
import pandas as pd

In [217]:
df = pd.DataFrame(values_list, columns = columns)

df.to_json(orient='split')
table_data = pd.read_json(df.to_json(orient='split'), orient='split')
table_data.conversion_rate = round(table_data.conversion_rate,2)
table_data = table_data[table_data.conversions > 0].sort('sessions')
table_data

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

         city_age  sessions  bounce_rate  conversions  conversion_rate
4  Croydon, 55-64        32    53.125000            1             3.12
3  Croydon, 45-54        90    45.555556            2             2.22
0  Croydon, 18-24       101    41.584158            4             3.96
5   London, 18-24       167    49.700599            8             4.79
8   London, 45-54       205    55.609756            3             1.46
2  Croydon, 35-44       223    43.049327            7             3.14
1  Croydon, 25-34       334    47.904192           17             5.09
7   London, 35-44       482    54.771784           14             2.90
6   London, 25-34       842    59.144893           24             2.85

In [218]:
samples_sessions=[]
for i in range(0,len(table_data)):
    a = table_data.sessions[i]
    samples_sessions.append(a)
    
samples_sessions = sorted(samples_sessions)
samples_sessions

[32, 90, 101, 167, 205, 223, 334, 482, 842]

In [219]:
minn = samples_sessions[0]
cl1=90
cl1

90

In [220]:
#maxx = samples_sessions[len(samples_sessions)-1]
cl3 = 600
cl3

600

In [221]:
#mediana_number = int(len(samples_sessions)/2)
cl2 = 270    #samples_sessions[mediana_number]
cl2

270

In [222]:
import math

In [223]:
distance_cl1 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl1 - samples_sessions[i]), 2))
    distance_cl1.append(d)
distance_cl1

[58.0, 0.0, 11.0, 77.0, 115.0, 133.0, 244.0, 392.0, 752.0]

In [224]:
distance_cl2 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl2 - samples_sessions[i]), 2))
    distance_cl2.append(d)
distance_cl2

[238.0, 180.0, 169.0, 103.0, 65.0, 47.0, 64.0, 212.0, 572.0]

In [225]:
distance_cl3 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl3 - samples_sessions[i]), 2))
    distance_cl3.append(d)
distance_cl3

[568.0, 510.0, 499.0, 433.0, 395.0, 377.0, 266.0, 118.0, 242.0]

In [226]:
cluster1 = []
cluster2 = []
cluster3 = []
for k in range(0,len(samples_sessions)):
    #for k in range(0,len(distance_cl2)-1):
        #for k in range(0,len(distance_cl3)-1):
            if (distance_cl1[k] < distance_cl2[k]):
                res = distance_cl1[k]
                cluster1.append(res)
                
#res
cluster1

[58.0, 0.0, 11.0, 77.0]

In [227]:
cluster2 = []
for k in range(len(cluster1),len(samples_sessions)):
    if (distance_cl2[k] < distance_cl3[k]):
                res = distance_cl2[k]
                cluster2.append(res)
cluster2

[65.0, 47.0, 64.0]

In [228]:
cluster3 = []
for k in range(len(cluster1)+len(cluster2),len(samples_sessions)):
    if (distance_cl3[k]<distance_cl2[k]):
                res = distance_cl3[k]
                cluster3.append(res)
cluster3

[118.0, 242.0]

In [229]:
cl1 = []
for f in range(0,len(cluster1)):
    n =[]
    n.append(1)
    n.append(samples_sessions[f])
    cl1.append(n)
cl1

[[1, 32], [1, 90], [1, 101], [1, 167]]

In [230]:
table_cl1 = pd.DataFrame(cl1,columns = ['cluster_sess','sessions'])
table_cl1

   cluster_sess  sessions
0             1        32
1             1        90
2             1       101
3             1       167

In [231]:
cl2 = []
for h in range(len(cluster1),len(cluster2)+len(cluster1)):
    n =[]
    n.append(2)
    n.append(samples_sessions[h])
    cl2.append(n)
cl2

[[2, 205], [2, 223], [2, 334]]

In [232]:
table_cl2 = pd.DataFrame(cl2,index = range(len(cluster1),len(cluster2)+len(cluster1)), columns = ['cluster_sess','sessions'])
table_cl2

   cluster_sess  sessions
4             2       205
5             2       223
6             2       334

In [233]:
cl3 = []
for h in range(len(cluster2)+len(cluster1),len(samples_sessions)):
    n =[]
    n.append(3)
    n.append(samples_sessions[h])
    cl3.append(n)
cl3

[[3, 482], [3, 842]]

In [234]:
table_cl3 = pd.DataFrame(cl3,index = range(len(cluster2)+len(cluster1),len(samples_sessions)), columns = ['cluster_sess','sessions'])
table_cl3

   cluster_sess  sessions
7             3       482
8             3       842

In [235]:
result_clusters = pd.concat([table_cl1,table_cl2,table_cl3])
result_clusters

   cluster_sess  sessions
0             1        32
1             1        90
2             1       101
3             1       167
4             2       205
5             2       223
6             2       334
7             3       482
8             3       842

In [236]:
result_sess = result_clusters.merge(table_data, on = 'sessions')
result_sess

,cluster_sess,sessions,city_age,bounce_rate,conversions,conversion_rate
0,1,32,"Croydon, 55-64",53.125000,1,3.12
1,1,90,"Croydon, 45-54",45.555556,2,2.22
2,1,101,"Croydon, 18-24",41.584158,4,3.96
3,1,167,"London, 18-24",49.700599,8,4.79
4,2,205,"London, 45-54",55.609756,3,1.46
5,2,223,"Croydon, 35-44",43.049327,7,3.14
6,2,334,"Croydon, 25-34",47.904192,17,5.09
7,3,482,"London, 35-44",54.771784,14,2.90
8,3,842,"London, 25-34",59.144893,24,2.85

In [237]:
samples_cr=[]
for i in range(0,len(table_data)):
    a = round(table_data.conversion_rate[i],2)
    samples_cr.append(a)
    #print(a)
samples_cr = sorted(samples_cr)#, key=lambda x: x[0])
samples_cr

[1.46,
 2.2200000000000002,
 2.8500000000000001,
 2.8999999999999999,
 3.1200000000000001,
 3.1400000000000001,
 3.96,
 4.79,
 5.0899999999999999]

In [238]:
#samples_cr = list(map(float, [ '%.2f' % elem for elem in samples_cr ]))
#samples_cr
#list(map(float,group[new_dim_name]['values']))

In [239]:
#minn = samples_cr[0]
cl1=2.0
cl1

2.0

In [240]:
#maxx = samples_cr[len(samples_cr)-1]
cl3=4.0
cl3

4.0

In [241]:
#mediana_number = int(len(samples_cr)/2)
cl2 = 2.4  #samples_cr[mediana_number]
cl2

2.4

In [242]:
distance_cl1 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl1 - samples_cr[i]), 2))
    distance_cl1.append(d)
distance_cl1

[0.54,
 0.2200000000000002,
 0.8500000000000001,
 0.8999999999999999,
 1.12,
 1.1400000000000001,
 1.96,
 2.79,
 3.09]

In [243]:
distance_cl2 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl2 - samples_cr[i]), 2))
    distance_cl2.append(d)
distance_cl2

[0.94,
 0.17999999999999972,
 0.4500000000000002,
 0.5,
 0.7200000000000002,
 0.7400000000000002,
 1.56,
 2.39,
 2.69]

In [244]:
distance_cl3 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl3 - samples_cr[i]), 2))
    distance_cl3.append(d)
distance_cl3

[2.54,
 1.7799999999999998,
 1.15,
 1.1,
 0.8799999999999999,
 0.8599999999999999,
 0.040000000000000036,
 0.79,
 1.0899999999999999]

In [245]:
cluster1 = []
cluster2 = []
cluster3 = []
for k in range(0,len(samples_cr)):
    #for k in range(0,len(distance_cl2)-1):
        #for k in range(0,len(distance_cl3)-1):
            if (distance_cl1[k] < distance_cl2[k]):
                res = distance_cl1[k]
                cluster1.append(res)
                
#res
cluster1

[0.54]

In [246]:
cluster2 = []
for k in range(len(cluster1),len(samples_cr)):
    if (distance_cl2[k] < distance_cl3[k]):
                res = distance_cl2[k]
                cluster2.append(res)
cluster2

[0.17999999999999972,
 0.4500000000000002,
 0.5,
 0.7200000000000002,
 0.7400000000000002]

In [247]:
cluster3 = []
for k in range(len(cluster1)+len(cluster2),len(samples_cr)):
    if (distance_cl3[k]<distance_cl2[k]):
                res = distance_cl3[k]
                cluster3.append(res)
cluster3

[0.040000000000000036, 0.79, 1.0899999999999999]

In [248]:
cl1 = []
for f in range(0,len(cluster1)):
    n =[]
    n.append(1)
    n.append(samples_cr[f])
    cl1.append(n)
cl1

[[1, 1.46]]

In [249]:
table_cl1 = pd.DataFrame(cl1,columns = ['cluster_cr','conversion_rate'])
table_cl1

   cluster_cr  conversion_rate
0           1             1.46

In [250]:
cl2 = []
for h in range(len(cluster1),len(cluster2)+len(cluster1)):
    n =[]
    n.append(2)
    n.append(samples_cr[h])
    cl2.append(n)
cl2

[[2, 2.2200000000000002],
 [2, 2.8500000000000001],
 [2, 2.8999999999999999],
 [2, 3.1200000000000001],
 [2, 3.1400000000000001]]

In [251]:
table_cl2 = pd.DataFrame(cl2,index = range(len(cluster1),len(cluster2)+len(cluster1)), columns = ['cluster_cr','conversion_rate'])
table_cl2

   cluster_cr  conversion_rate
1           2             2.22
2           2             2.85
3           2             2.90
4           2             3.12
5           2             3.14

In [252]:
cl3 = []
for h in range(len(cluster2)+len(cluster1),len(samples_cr)):
    n =[]
    n.append(3)
    n.append(samples_cr[h])
    cl3.append(n)
cl3

[[3, 3.96], [3, 4.79], [3, 5.0899999999999999]]

In [253]:
table_cl3 = pd.DataFrame(cl3,index = range(len(cluster2)+len(cluster1),len(samples_sessions)), columns = ['cluster_cr','conversion_rate'])
table_cl3

   cluster_cr  conversion_rate
6           3             3.96
7           3             4.79
8           3             5.09

In [254]:
result_clusters = pd.concat([table_cl1,table_cl2,table_cl3])
result_clusters

   cluster_cr  conversion_rate
0           1             1.46
1           2             2.22
2           2             2.85
3           2             2.90
4           2             3.12
5           2             3.14
6           3             3.96
7           3             4.79
8           3             5.09

In [255]:
result_cr = result_clusters.merge(table_data, on = 'conversion_rate')
result_cr

,cluster_cr,conversion_rate,city_age,sessions,bounce_rate,conversions
0,1,1.46,"London, 45-54",205,55.609756,3
1,2,2.22,"Croydon, 45-54",90,45.555556,2
2,2,2.85,"London, 25-34",842,59.144893,24
3,2,2.90,"London, 35-44",482,54.771784,14
4,2,3.12,"Croydon, 55-64",32,53.125000,1
5,2,3.14,"Croydon, 35-44",223,43.049327,7
6,3,3.96,"Croydon, 18-24",101,41.584158,4
7,3,4.79,"London, 18-24",167,49.700599,8
8,3,5.09,"Croydon, 25-34",334,47.904192,17

In [256]:
final = result_cr.merge(result_sess, on = 'city_age')
final

,cluster_cr,conversion_rate_x,city_age,sessions_x,bounce_rate_x,conversions_x,cluster_sess,sessions_y,bounce_rate_y,conversions_y,conversion_rate_y
0,1,1.46,"London, 45-54",205,55.609756,3,2,205,55.609756,3,1.46
1,2,2.22,"Croydon, 45-54",90,45.555556,2,1,90,45.555556,2,2.22
2,2,2.85,"London, 25-34",842,59.144893,24,3,842,59.144893,24,2.85
3,2,2.90,"London, 35-44",482,54.771784,14,3,482,54.771784,14,2.90
4,2,3.12,"Croydon, 55-64",32,53.125000,1,1,32,53.125000,1,3.12
5,2,3.14,"Croydon, 35-44",223,43.049327,7,2,223,43.049327,7,3.14
6,3,3.96,"Croydon, 18-24",101,41.584158,4,1,101,41.584158,4,3.96
7,3,4.79,"London, 18-24",167,49.700599,8,1,167,49.700599,8,4.79
8,3,5.09,"Croydon, 25-34",334,47.904192,17,2,334,47.904192,17,5.09

In [258]:
final = final[["city_age","cluster_cr","cluster_sess","conversion_rate_x","sessions_x"]]
final

         city_age  cluster_cr  cluster_sess  conversion_rate_x  sessions_x
0   London, 45-54           1             2               1.46         205
1  Croydon, 45-54           2             1               2.22          90
2   London, 25-34           2             3               2.85         842
3   London, 35-44           2             3               2.90         482
4  Croydon, 55-64           2             1               3.12          32
5  Croydon, 35-44           2             2               3.14         223
6  Croydon, 18-24           3             1               3.96         101
7   London, 18-24           3             1               4.79         167
8  Croydon, 25-34           3             2               5.09         334

In [264]:
import pandas as pd

In [58]:
cluster2 = []
for k in range(len(cluster1),len(samples_cr)):
    if (distance_cl2[k] < distance_cl3[k]):
                res = distance_cl2[k]
                cluster2.append(res)
cluster2

[38.145627534489456,
 0.0,
 18.078230001855825,
 129.05106314943708,
 277.0037429350008]

In [59]:
cluster3 = []
for k in range(len(cluster1)+len(cluster2),len(samples_cr)):
    if (distance_cl3[k]<distance_cl2[k]):
                res = distance_cl3[k]
                cluster3.append(res)
cluster3

[0.0]

In [60]:
from itertools import chain
cl1 = []
for f in range(0,len(cluster1)):
    n =[]
    n.append(1)
    n.append(samples[f])
    cl1.append(n)
cl1

[[1, [32, 3.1200000000000001]],
 [1, [90, 2.2200000000000002]],
 [1, [101, 3.96]]]

In [61]:
#cl1 = []
#for i in cl1:
    #from itertools import chain
    #cl1=list(chain.from_iterable(cl1[i]))
    #cl1.append()
#print(cl1)

In [62]:
table_cl1 = pd.DataFrame(cl1,columns = ['#cluster_cr','result'])
table_cl1

   #cluster_cr       result
0            1   [32, 3.12]
1            1   [90, 2.22]
2            1  [101, 3.96]

In [63]:
cl2 = []
for h in range(len(cluster1),len(cluster2)+len(cluster1)):
    n =[]
    n.append(2)
    n.append(samples[h])
    cl2.append(n)
cl2

[[2, [167, 4.79]],
 [2, [205, 1.46]],
 [2, [223, 3.1400000000000001]],
 [2, [334, 5.0899999999999999]],
 [2, [482, 2.8999999999999999]]]

In [64]:
table_cl2 = pd.DataFrame(cl2,index = range(len(cluster1),len(cluster2)+len(cluster1)), columns = ['#cluster_cr','result'])
table_cl2

   #cluster_cr       result
3            2  [167, 4.79]
4            2  [205, 1.46]
5            2  [223, 3.14]
6            2  [334, 5.09]
7            2   [482, 2.9]

In [65]:
cl3 = []
for h in range(len(cluster2)+len(cluster1),len(samples_cr)):
    n =[]
    n.append(3)
    n.append(samples[h])
    cl3.append(n)
cl3

[[3, [842, 2.8500000000000001]]]

In [66]:
table_cl3 = pd.DataFrame(cl3,index = range(len(cluster2)+len(cluster1),len(samples_sessions)), columns = ['#cluster_cr','result'])
table_cl3

   #cluster_cr       result
8            3  [842, 2.85]

In [67]:
result_clusters = pd.concat([table_cl1,table_cl2,table_cl3])
result_clusters

   #cluster_cr       result
0            1   [32, 3.12]
1            1   [90, 2.22]
2            1  [101, 3.96]
3            2  [167, 4.79]
4            2  [205, 1.46]
5            2  [223, 3.14]
6            2  [334, 5.09]
7            2   [482, 2.9]
8            3  [842, 2.85]

In [68]:
a = table_data.sort('sessions')
a

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

         city_age  sessions  bounce_rate  conversions  conversion_rate
4  Croydon, 55-64        32    53.125000            1             3.12
3  Croydon, 45-54        90    45.555556            2             2.22
0  Croydon, 18-24       101    41.584158            4             3.96
5   London, 18-24       167    49.700599            8             4.79
8   London, 45-54       205    55.609756            3             1.46
2  Croydon, 35-44       223    43.049327            7             3.14
1  Croydon, 25-34       334    47.904192           17             5.09
7   London, 35-44       482    54.771784           14             2.90
6   London, 25-34       842    59.144893           24             2.85