# User groups

In [484]:
request = "POST https://analyticsreporting.googleapis.com/v4/reports:batchGet?fields=reports(columnHeader%2Cdata(rows%2Ctotals))&key={YOUR_API_KEY}"
request = {
 "reportRequests": [
  {
   "viewId": "123303369",
   "dateRanges": [
    {
     "startDate": "2017-01-01",
     "endDate": "2017-04-30"
    }
   ],
   "metrics": [
    {
     "expression": "ga:sessions"
    },
    {
     "expression": "ga:sessionDuration"
    },
    {
     "expression": "ga:goal1Completions"
    },
    {
     "expression": "ga:bounceRate"
    }
   ],
   "dimensions": [
    {
     "name": "ga:city"
    },
    {
     "name": "ga:userAgeBracket"
    }
   ]
  }
 ]
}

In [485]:
import json

with open('data/TMRW_user_groups.json') as file:
    input_ugroups = json.load(file)
    
#input_ugroups

# Define dimensions list
input_ugroups_dimensions = input_ugroups['reports'][0]['columnHeader']['dimensions']

dimension_count = len(input_ugroups_dimensions)

# Define metrics list
input_ugroups_metrics = input_ugroups['reports'][0]['columnHeader']['metricHeader']['metricHeaderEntries']

def create_metric_list(raw_data):
    lst = []
    for item in raw_data:
        lst.append(item['name'])
    return lst

input_ugroups_metrics = create_metric_list(input_ugroups_metrics)


# Create input data

input_ugroups_data = input_ugroups['reports'][0]['data']['rows']

input_ugroups_data

[{'dimensions': ['Croydon', '18-24'],
  'metrics': [{'values': ['101',
     '41.584158415841586',
     '4',
     '3.9603960396039604']}]},
 {'dimensions': ['Croydon', '25-34'],
  'metrics': [{'values': ['334',
     '47.90419161676647',
     '17',
     '5.089820359281437']}]},
 {'dimensions': ['Croydon', '35-44'],
  'metrics': [{'values': ['223',
     '43.04932735426009',
     '7',
     '3.1390134529147984']}]},
 {'dimensions': ['Croydon', '45-54'],
  'metrics': [{'values': ['90',
     '45.55555555555556',
     '2',
     '2.2222222222222223']}]},
 {'dimensions': ['Croydon', '55-64'],
  'metrics': [{'values': ['32', '53.125', '1', '3.125']}]},
 {'dimensions': ['London', '18-24'],
  'metrics': [{'values': ['167',
     '49.700598802395206',
     '8',
     '4.790419161676647']}]},
 {'dimensions': ['London', '25-34'],
  'metrics': [{'values': ['842',
     '59.14489311163895',
     '24',
     '2.8503562945368173']}]},
 {'dimensions': ['London', '35-44'],
  'metrics': [{'values': ['482',
     '54.77178423236515',
     '14',
     '2.904564315352697']}]},
 {'dimensions': ['London', '45-54'],
  'metrics': [{'values': ['205',
     '55.60975609756098',
     '3',
     '1.4634146341463417']}]},
 {'dimensions': ['London', '55-64'],
  'metrics': [{'values': ['37', '48.64864864864865', '0', '0.0']}]}]

In [486]:
values_list = []
for group in input_ugroups_data:
    new_dim_name = group['dimensions'][0] + ", " + group['dimensions'][1]
    group[new_dim_name] = group['metrics'][0]
    del group['dimensions']
    del group['metrics']
    
    #conv_rate = round(float(int(group[new_dim_name]['values'][2])/int(group[new_dim_name]['values'][0])*100),2)
    group[new_dim_name]['values'] = list(map(float,group[new_dim_name]['values']))
    #group[new_dim_name]['values'].append(new_dim_name)
    values_list.append(group[new_dim_name]['values'])
    group[new_dim_name]['values'].insert(0,new_dim_name)
    #list(map(float,group[new_dim_name]['values'])).append(new_dim_name)
    #values_list = values_list.apply(lambda x: x[0][0][1])

    #group[new_dim_name]['values'].append(conv_rate)
    #print(group[new_dim_name])
    
values_list    
#input_ugroups_data

[['Croydon, 18-24', 101.0, 41.584158415841586, 4.0, 3.9603960396039604],
 ['Croydon, 25-34', 334.0, 47.90419161676647, 17.0, 5.089820359281437],
 ['Croydon, 35-44', 223.0, 43.04932735426009, 7.0, 3.1390134529147984],
 ['Croydon, 45-54', 90.0, 45.55555555555556, 2.0, 2.2222222222222223],
 ['Croydon, 55-64', 32.0, 53.125, 1.0, 3.125],
 ['London, 18-24', 167.0, 49.700598802395206, 8.0, 4.790419161676647],
 ['London, 25-34', 842.0, 59.14489311163895, 24.0, 2.8503562945368173],
 ['London, 35-44', 482.0, 54.77178423236515, 14.0, 2.904564315352697],
 ['London, 45-54', 205.0, 55.60975609756098, 3.0, 1.4634146341463417],
 ['London, 55-64', 37.0, 48.64864864864865, 0.0, 0.0]]

In [487]:
# Define each metric dict

ugroups_data = {}

for ugroup in input_ugroups_data:
    #print (ugroup)
    
    for gr in ugroup:
        ugroups_data[gr] = {'sessions':0,
                       'bounce_rate':0,
                       'conversions':0,
                       'conversion_rate':0}
        
        ugroups_data[gr]['sessions'] = round(float(ugroup[gr]['values'][1]),2)
        ugroups_data[gr]['conversions'] = round(float(ugroup[gr]['values'][2]),2)
        ugroups_data[gr]['bounce_rate'] = round(float(ugroup[gr]['values'][3]),2)
        ugroups_data[gr]['conversion_rate'] = round(float(ugroup[gr]['values'][4]),2)
        
ugroups_data

{'Croydon, 18-24': {'bounce_rate': 4.0,
  'conversion_rate': 3.96,
  'conversions': 41.58,
  'sessions': 101.0},
 'Croydon, 25-34': {'bounce_rate': 17.0,
  'conversion_rate': 5.09,
  'conversions': 47.9,
  'sessions': 334.0},
 'Croydon, 35-44': {'bounce_rate': 7.0,
  'conversion_rate': 3.14,
  'conversions': 43.05,
  'sessions': 223.0},
 'Croydon, 45-54': {'bounce_rate': 2.0,
  'conversion_rate': 2.22,
  'conversions': 45.56,
  'sessions': 90.0},
 'Croydon, 55-64': {'bounce_rate': 1.0,
  'conversion_rate': 3.12,
  'conversions': 53.12,
  'sessions': 32.0},
 'London, 18-24': {'bounce_rate': 8.0,
  'conversion_rate': 4.79,
  'conversions': 49.7,
  'sessions': 167.0},
 'London, 25-34': {'bounce_rate': 24.0,
  'conversion_rate': 2.85,
  'conversions': 59.14,
  'sessions': 842.0},
 'London, 35-44': {'bounce_rate': 14.0,
  'conversion_rate': 2.9,
  'conversions': 54.77,
  'sessions': 482.0},
 'London, 45-54': {'bounce_rate': 3.0,
  'conversion_rate': 1.46,
  'conversions': 55.61,
  'sessions': 205.0},
 'London, 55-64': {'bounce_rate': 0.0,
  'conversion_rate': 0.0,
  'conversions': 48.65,
  'sessions': 37.0}}

In [488]:
import collections
from collections import OrderedDict

columns = []
for u in ugroups_data:
    #print (u)
    for metric in ugroups_data[u]:
        columns.append('city_age')
        columns.append(metric)
        
    
columns = list(OrderedDict.fromkeys(columns))    
columns

['city_age', 'sessions', 'bounce_rate', 'conversions', 'conversion_rate']

In [414]:
import pandas as pd

In [489]:
df = pd.DataFrame(values_list, columns = columns)

df.to_json(orient='split')
table_data = pd.read_json(df.to_json(orient='split'), orient='split')
table_data.conversion_rate = round(table_data.conversion_rate,2)
table_data = table_data[table_data.conversions > 0].sort('sessions')
table_data

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

         city_age  sessions  bounce_rate  conversions  conversion_rate
4  Croydon, 55-64        32    53.125000            1             3.12
3  Croydon, 45-54        90    45.555556            2             2.22
0  Croydon, 18-24       101    41.584158            4             3.96
5   London, 18-24       167    49.700599            8             4.79
8   London, 45-54       205    55.609756            3             1.46
2  Croydon, 35-44       223    43.049327            7             3.14
1  Croydon, 25-34       334    47.904192           17             5.09
7   London, 35-44       482    54.771784           14             2.90
6   London, 25-34       842    59.144893           24             2.85

In [490]:
samples_sessions=[]
for i in range(0,len(table_data)):
    a = table_data.sessions[i]
    samples_sessions.append(a)
    
samples_sessions = sorted(samples_sessions)
samples_sessions

[32, 90, 101, 167, 205, 223, 334, 482, 842]

In [491]:
minn = samples_sessions[0]
cl1=minn
cl1

32

In [492]:
maxx = samples_sessions[len(samples_sessions)-1]
cl3 = maxx
cl3

842

In [493]:
mediana_number = int(len(samples_sessions)/2)
cl2 = samples_sessions[mediana_number]
cl2

205

In [494]:
distance_cl1 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl1 - samples_sessions[i]), 2))
    distance_cl1.append(d)
distance_cl1

[0.0, 58.0, 69.0, 135.0, 173.0, 191.0, 302.0, 450.0, 810.0]

In [495]:
distance_cl2 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl2 - samples_sessions[i]), 2))
    distance_cl2.append(d)
distance_cl2

[173.0, 115.0, 104.0, 38.0, 0.0, 18.0, 129.0, 277.0, 637.0]

In [496]:
distance_cl3 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl3 - samples_sessions[i]), 2))
    distance_cl3.append(d)
distance_cl3

[810.0, 752.0, 741.0, 675.0, 637.0, 619.0, 508.0, 360.0, 0.0]

In [497]:
cluster1 = []
cluster2 = []
cluster3 = []
for k in range(0,len(samples_sessions)):
    #for k in range(0,len(distance_cl2)-1):
        #for k in range(0,len(distance_cl3)-1):
            if (distance_cl1[k] < distance_cl2[k]):
                res = distance_cl1[k]
                cluster1.append(res)
                
#res
cluster1

[0.0, 58.0, 69.0]

In [498]:
cluster2 = []
for k in range(len(cluster1),len(samples_sessions)):
    if (distance_cl2[k] < distance_cl3[k]):
                res = distance_cl2[k]
                cluster2.append(res)
cluster2

[38.0, 0.0, 18.0, 129.0, 277.0]

In [499]:
cluster3 = []
for k in range(len(cluster1)+len(cluster2),len(samples_sessions)):
    if (distance_cl3[k]<distance_cl2[k]):
                res = distance_cl3[k]
                cluster3.append(res)
cluster3

[0.0]

In [500]:
cl1 = []
for f in range(0,len(cluster1)):
    n =[]
    n.append(1)
    n.append(samples_sessions[f])
    cl1.append(n)
cl1

[[1, 32], [1, 90], [1, 101]]

In [501]:
table_cl1 = pd.DataFrame(cl1,columns = ['#cluster_sess','sessions'])
table_cl1

   #cluster_sess  sessions
0              1        32
1              1        90
2              1       101

In [502]:
cl2 = []
for h in range(len(cluster1),len(cluster2)+len(cluster1)):
    n =[]
    n.append(2)
    n.append(samples_sessions[h])
    cl2.append(n)
cl2

[[2, 167], [2, 205], [2, 223], [2, 334], [2, 482]]

In [503]:
table_cl2 = pd.DataFrame(cl2,index = range(len(cluster1),len(cluster2)+len(cluster1)), columns = ['#cluster_sess','sessions'])
table_cl2

   #cluster_sess  sessions
3              2       167
4              2       205
5              2       223
6              2       334
7              2       482

In [504]:
cl3 = []
for h in range(len(cluster2)+len(cluster1),len(samples_sessions)):
    n =[]
    n.append(3)
    n.append(samples_sessions[h])
    cl3.append(n)
cl3

[[3, 842]]

In [505]:
table_cl3 = pd.DataFrame(cl3,index = range(len(cluster2)+len(cluster1),len(samples_sessions)), columns = ['#cluster_sess','sessions'])
table_cl3

   #cluster_sess  sessions
8              3       842

In [506]:
result_clusters = pd.concat([table_cl1,table_cl2,table_cl3])
result_clusters

   #cluster_sess  sessions
0              1        32
1              1        90
2              1       101
3              2       167
4              2       205
5              2       223
6              2       334
7              2       482
8              3       842

In [507]:
result_sess = result_clusters.merge(table_data, on = 'sessions')
result_sess

,#cluster_sess,sessions,city_age,bounce_rate,conversions,conversion_rate
0,1,32,"Croydon, 55-64",53.125000,1,3.12
1,1,90,"Croydon, 45-54",45.555556,2,2.22
2,1,101,"Croydon, 18-24",41.584158,4,3.96
3,2,167,"London, 18-24",49.700599,8,4.79
4,2,205,"London, 45-54",55.609756,3,1.46
5,2,223,"Croydon, 35-44",43.049327,7,3.14
6,2,334,"Croydon, 25-34",47.904192,17,5.09
7,2,482,"London, 35-44",54.771784,14,2.90
8,3,842,"London, 25-34",59.144893,24,2.85

In [508]:
samples_cr=[]
for i in range(0,len(table_data)):
    a = round(table_data.conversion_rate[i],2)
    samples_cr.append(a)
    #print(a)
samples_cr = sorted(samples_cr)#, key=lambda x: x[0])
samples_cr

[1.46,
 2.2200000000000002,
 2.8500000000000001,
 2.8999999999999999,
 3.1200000000000001,
 3.1400000000000001,
 3.96,
 4.79,
 5.0899999999999999]

In [509]:
#samples_cr = list(map(float, [ '%.2f' % elem for elem in samples_cr ]))
#samples_cr
#list(map(float,group[new_dim_name]['values']))

In [510]:
minn = samples_cr[0]
cl1=minn
cl1

1.46

In [511]:
maxx = samples_cr[len(samples_cr)-1]
cl3=maxx
cl3

5.0899999999999999

In [512]:
mediana_number = int(len(samples_cr)/2)
cl2 = samples_cr[mediana_number]
cl2

3.1200000000000001

In [513]:
distance_cl1 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl1 - samples_cr[i]), 2))
    distance_cl1.append(d)
distance_cl1

[0.0,
 0.7600000000000002,
 1.3900000000000001,
 1.44,
 1.6600000000000001,
 1.6800000000000002,
 2.5,
 3.33,
 3.63]

In [514]:
distance_cl2 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl2 - samples_cr[i]), 2))
    distance_cl2.append(d)
distance_cl2

[1.6600000000000001,
 0.8999999999999999,
 0.27,
 0.2200000000000002,
 0.0,
 0.020000000000000018,
 0.8399999999999999,
 1.67,
 1.9699999999999998]

In [515]:
distance_cl3 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl3 - samples_cr[i]), 2))
    distance_cl3.append(d)
distance_cl3

[3.63,
 2.8699999999999997,
 2.2399999999999998,
 2.19,
 1.9699999999999998,
 1.9499999999999997,
 1.13,
 0.2999999999999998,
 0.0]

In [516]:
cluster1 = []
cluster2 = []
cluster3 = []
for k in range(0,len(samples_cr)):
    #for k in range(0,len(distance_cl2)-1):
        #for k in range(0,len(distance_cl3)-1):
            if (distance_cl1[k] < distance_cl2[k]):
                res = distance_cl1[k]
                cluster1.append(res)
                
#res
cluster1

[0.0, 0.7600000000000002]

In [517]:
cluster2 = []
for k in range(len(cluster1),len(samples_cr)):
    if (distance_cl2[k] < distance_cl3[k]):
                res = distance_cl2[k]
                cluster2.append(res)
cluster2

[0.27, 0.2200000000000002, 0.0, 0.020000000000000018, 0.8399999999999999]

In [518]:
cluster3 = []
for k in range(len(cluster1)+len(cluster2),len(samples_cr)):
    if (distance_cl3[k]<distance_cl2[k]):
                res = distance_cl3[k]
                cluster3.append(res)
cluster3

[0.2999999999999998, 0.0]

In [519]:
cl1 = []
for f in range(0,len(cluster1)):
    n =[]
    n.append(1)
    n.append(samples_cr[f])
    cl1.append(n)
cl1

[[1, 1.46], [1, 2.2200000000000002]]

In [520]:
table_cl1 = pd.DataFrame(cl1,columns = ['#cluster_cr','conversion_rate'])
table_cl1

   #cluster_cr  conversion_rate
0            1             1.46
1            1             2.22

In [521]:
cl2 = []
for h in range(len(cluster1),len(cluster2)+len(cluster1)):
    n =[]
    n.append(2)
    n.append(samples_cr[h])
    cl2.append(n)
cl2

[[2, 2.8500000000000001],
 [2, 2.8999999999999999],
 [2, 3.1200000000000001],
 [2, 3.1400000000000001],
 [2, 3.96]]

In [522]:
table_cl2 = pd.DataFrame(cl2,index = range(len(cluster1),len(cluster2)+len(cluster1)), columns = ['#cluster_cr','conversion_rate'])
table_cl2

   #cluster_cr  conversion_rate
2            2             2.85
3            2             2.90
4            2             3.12
5            2             3.14
6            2             3.96

In [523]:
cl3 = []
for h in range(len(cluster2)+len(cluster1),len(samples_cr)):
    n =[]
    n.append(3)
    n.append(samples_cr[h])
    cl3.append(n)
cl3

[[3, 4.79], [3, 5.0899999999999999]]

In [524]:
table_cl3 = pd.DataFrame(cl3,index = range(len(cluster2)+len(cluster1),len(samples_sessions)), columns = ['#cluster_cr','conversion_rate'])
table_cl3

   #cluster_cr  conversion_rate
7            3             4.79
8            3             5.09

In [525]:
result_clusters = pd.concat([table_cl1,table_cl2,table_cl3])
result_clusters

   #cluster_cr  conversion_rate
0            1             1.46
1            1             2.22
2            2             2.85
3            2             2.90
4            2             3.12
5            2             3.14
6            2             3.96
7            3             4.79
8            3             5.09

In [526]:
result_cr = result_clusters.merge(table_data, on = 'conversion_rate')
result_cr

,#cluster_cr,conversion_rate,city_age,sessions,bounce_rate,conversions
0,1,1.46,"London, 45-54",205,55.609756,3
1,1,2.22,"Croydon, 45-54",90,45.555556,2
2,2,2.85,"London, 25-34",842,59.144893,24
3,2,2.90,"London, 35-44",482,54.771784,14
4,2,3.12,"Croydon, 55-64",32,53.125000,1
5,2,3.14,"Croydon, 35-44",223,43.049327,7
6,2,3.96,"Croydon, 18-24",101,41.584158,4
7,3,4.79,"London, 18-24",167,49.700599,8
8,3,5.09,"Croydon, 25-34",334,47.904192,17

In [527]:
final = result_cr.merge(result_sess, on = 'city_age')
final

,#cluster_cr,conversion_rate_x,city_age,sessions_x,bounce_rate_x,conversions_x,#cluster_sess,sessions_y,bounce_rate_y,conversions_y,conversion_rate_y
0,1,1.46,"London, 45-54",205,55.609756,3,2,205,55.609756,3,1.46
1,1,2.22,"Croydon, 45-54",90,45.555556,2,1,90,45.555556,2,2.22
2,2,2.85,"London, 25-34",842,59.144893,24,3,842,59.144893,24,2.85
3,2,2.90,"London, 35-44",482,54.771784,14,2,482,54.771784,14,2.90
4,2,3.12,"Croydon, 55-64",32,53.125000,1,1,32,53.125000,1,3.12
5,2,3.14,"Croydon, 35-44",223,43.049327,7,2,223,43.049327,7,3.14
6,2,3.96,"Croydon, 18-24",101,41.584158,4,1,101,41.584158,4,3.96
7,3,4.79,"London, 18-24",167,49.700599,8,2,167,49.700599,8,4.79
8,3,5.09,"Croydon, 25-34",334,47.904192,17,2,334,47.904192,17,5.09

In [528]:
finish = final[['city_age','#cluster_sess','#cluster_cr','sessions_x','conversion_rate_x',]]
finish

         city_age  #cluster_sess  #cluster_cr  sessions_x  conversion_rate_x
0   London, 45-54              2            1         205               1.46
1  Croydon, 45-54              1            1          90               2.22
2   London, 25-34              3            2         842               2.85
3   London, 35-44              2            2         482               2.90
4  Croydon, 55-64              1            2          32               3.12
5  Croydon, 35-44              2            2         223               3.14
6  Croydon, 18-24              1            2         101               3.96
7   London, 18-24              2            3         167               4.79
8  Croydon, 25-34              2            3         334               5.09

In [529]:
samples=[]
for i in range(0,len(table_data)):
    a = [table_data.sessions[i],table_data.conversion_rate[i]]
    samples.append(a)
    #print(a)
samples = sorted(samples, key=lambda x: x[0])
samples

[[32, 3.1200000000000001],
 [90, 2.2200000000000002],
 [101, 3.96],
 [167, 4.79],
 [205, 1.46],
 [223, 3.1400000000000001],
 [334, 5.0899999999999999],
 [482, 2.8999999999999999],
 [842, 2.8500000000000001]]

In [530]:
minn = samples[0]
cl1=minn
cl1

[32, 3.1200000000000001]

In [531]:
maxx = samples[len(samples_cr)-1]
cl3=maxx
cl3

[842, 2.8500000000000001]

In [532]:
mediana_number = int(len(samples_cr)/2)
cl2 = samples[mediana_number]
cl2

[205, 1.46]

In [533]:
distance_cl1 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl1[0] - samples[i][0]),2) + math.pow((cl1[1] - samples[i][1]), 2))
#print(d)
    distance_cl1.append(d)
distance_cl1

[0.0,
 58.00698233833579,
 69.00511285404872,
 135.010328864128,
 173.0079639785406,
 191.0000010471204,
 302.0064252627748,
 450.00005377777455,
 810.0000449999987]

In [534]:
distance_cl2 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl2[0] - samples[i][0]),2) + math.pow((cl2[1] - samples[i][1]), 2))
    distance_cl2.append(d)
distance_cl2

[173.0079639785406,
 115.00251127692822,
 104.03004373737426,
 38.145627534489456,
 0.0,
 18.078230001855825,
 129.05106314943708,
 277.0037429350008,
 637.0015165602041]

In [535]:
distance_cl3 = []
for i in range(0,len(table_data)):
    d = math.sqrt(math.pow((cl3[0] - samples[i][0]),2) + math.pow((cl3[1] - samples[i][1]), 2))
    distance_cl3.append(d)
distance_cl3

[810.0000449999987,
 752.0002638962303,
 741.0008313760518,
 675.0027878460947,
 637.0015165602041,
 619.0000679321449,
 508.0049385586719,
 360.0000034722222,
 0.0]

In [536]:
cluster1 = []
for k in range(0,len(samples)):
    #for k in range(0,len(distance_cl2)-1):
        #for k in range(0,len(distance_cl3)-1):
            if (distance_cl1[k] < distance_cl2[k]):
                res = distance_cl1[k]
                cluster1.append(res)
                
#res
cluster1

[0.0, 58.00698233833579, 69.00511285404872]

In [537]:
cluster2 = []
for k in range(len(cluster1),len(samples_cr)):
    if (distance_cl2[k] < distance_cl3[k]):
                res = distance_cl2[k]
                cluster2.append(res)
cluster2

[38.145627534489456,
 0.0,
 18.078230001855825,
 129.05106314943708,
 277.0037429350008]

In [538]:
cluster3 = []
for k in range(len(cluster1)+len(cluster2),len(samples_cr)):
    if (distance_cl3[k]<distance_cl2[k]):
                res = distance_cl3[k]
                cluster3.append(res)
cluster3

[0.0]

In [550]:
from itertools import chain
cl1 = []
for f in range(0,len(cluster1)):
    n =[]
    n.append(1)
    n.append(samples[f])
    cl1.append(n)
cl1

[[1, [32, 3.1200000000000001]],
 [1, [90, 2.2200000000000002]],
 [1, [101, 3.96]]]

In [551]:
#cl1 = []
#for i in cl1:
    #from itertools import chain
    #cl1=list(chain.from_iterable(cl1[i]))
    #cl1.append()
#print(cl1)

In [552]:
table_cl1 = pd.DataFrame(cl1,columns = ['#cluster_cr','result'])
table_cl1

   #cluster_cr       result
0            1   [32, 3.12]
1            1   [90, 2.22]
2            1  [101, 3.96]

In [553]:
cl2 = []
for h in range(len(cluster1),len(cluster2)+len(cluster1)):
    n =[]
    n.append(2)
    n.append(samples[h])
    cl2.append(n)
cl2

[[2, [167, 4.79]],
 [2, [205, 1.46]],
 [2, [223, 3.1400000000000001]],
 [2, [334, 5.0899999999999999]],
 [2, [482, 2.8999999999999999]]]

In [554]:
table_cl2 = pd.DataFrame(cl2,index = range(len(cluster1),len(cluster2)+len(cluster1)), columns = ['#cluster_cr','result'])
table_cl2

   #cluster_cr       result
3            2  [167, 4.79]
4            2  [205, 1.46]
5            2  [223, 3.14]
6            2  [334, 5.09]
7            2   [482, 2.9]

In [556]:
cl3 = []
for h in range(len(cluster2)+len(cluster1),len(samples_cr)):
    n =[]
    n.append(3)
    n.append(samples[h])
    cl3.append(n)
cl3

[[3, [842, 2.8500000000000001]]]

In [557]:
table_cl3 = pd.DataFrame(cl3,index = range(len(cluster2)+len(cluster1),len(samples_sessions)), columns = ['#cluster_cr','result'])
table_cl3

   #cluster_cr       result
8            3  [842, 2.85]

In [558]:
result_clusters = pd.concat([table_cl1,table_cl2,table_cl3])
result_clusters

   #cluster_cr       result
0            1   [32, 3.12]
1            1   [90, 2.22]
2            1  [101, 3.96]
3            2  [167, 4.79]
4            2  [205, 1.46]
5            2  [223, 3.14]
6            2  [334, 5.09]
7            2   [482, 2.9]
8            3  [842, 2.85]

In [562]:
a = table_data.sort('sessions')
a

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

         city_age  sessions  bounce_rate  conversions  conversion_rate
4  Croydon, 55-64        32    53.125000            1             3.12
3  Croydon, 45-54        90    45.555556            2             2.22
0  Croydon, 18-24       101    41.584158            4             3.96
5   London, 18-24       167    49.700599            8             4.79
8   London, 45-54       205    55.609756            3             1.46
2  Croydon, 35-44       223    43.049327            7             3.14
1  Croydon, 25-34       334    47.904192           17             5.09
7   London, 35-44       482    54.771784           14             2.90
6   London, 25-34       842    59.144893           24             2.85

In [564]:
sessions_cr = pd.concat([result_clusters,a], axis=1)
sessions_cr

,#cluster_cr,result,city_age,sessions,bounce_rate,conversions,conversion_rate
0,1,"[32, 3.12]","Croydon, 18-24",101,41.584158,4,3.96
1,1,"[90, 2.22]","Croydon, 25-34",334,47.904192,17,5.09
2,1,"[101, 3.96]","Croydon, 35-44",223,43.049327,7,3.14
3,2,"[167, 4.79]","Croydon, 45-54",90,45.555556,2,2.22
4,2,"[205, 1.46]","Croydon, 55-64",32,53.125000,1,3.12
5,2,"[223, 3.14]","London, 18-24",167,49.700599,8,4.79
6,2,"[334, 5.09]","London, 25-34",842,59.144893,24,2.85
7,2,"[482, 2.9]","London, 35-44",482,54.771784,14,2.90
8,3,"[842, 2.85]","London, 45-54",205,55.609756,3,1.46

In [481]:
result_cr

,#cluster_cr,conversion_rate,city_age,sessions,bounce_rate,conversions
0,1,1.46,"London, 45-54",205,55.609756,3
1,1,2.22,"Croydon, 45-54",90,45.555556,2
2,2,2.85,"London, 25-34",842,59.144893,24
3,2,2.90,"London, 35-44",482,54.771784,14
4,2,3.12,"Croydon, 55-64",32,53.125000,1
5,2,3.14,"Croydon, 35-44",223,43.049327,7
6,2,3.96,"Croydon, 18-24",101,41.584158,4
7,3,4.79,"London, 18-24",167,49.700599,8
8,3,5.09,"Croydon, 25-34",334,47.904192,17

In [480]:
result_sess

,#cluster_sess,sessions,city_age,bounce_rate,conversions,conversion_rate
0,1,32,"Croydon, 55-64",53.125000,1,3.12
1,1,90,"Croydon, 45-54",45.555556,2,2.22
2,1,101,"Croydon, 18-24",41.584158,4,3.96
3,2,167,"London, 18-24",49.700599,8,4.79
4,2,205,"London, 45-54",55.609756,3,1.46
5,2,223,"Croydon, 35-44",43.049327,7,3.14
6,2,334,"Croydon, 25-34",47.904192,17,5.09
7,2,482,"London, 35-44",54.771784,14,2.90
8,3,842,"London, 25-34",59.144893,24,2.85

In [479]:
finish

         city_age  #cluster_sess  #cluster_cr  sessions_x  conversion_rate_x
0   London, 45-54              2            1         205               1.46
1  Croydon, 45-54              1            1          90               2.22
2   London, 25-34              3            2         842               2.85
3   London, 35-44              2            2         482               2.90
4  Croydon, 55-64              1            2          32               3.12
5  Croydon, 35-44              2            2         223               3.14
6  Croydon, 18-24              1            2         101               3.96
7   London, 18-24              2            3         167               4.79
8  Croydon, 25-34              2            3         334               5.09

In [26]:
np.random.seed(1000)


# Настройка шрифтов для будущих графиков
rcParams['font.family'] = 'DejaVu Sans' # Понимает русские буквы
rcParams['font.size'] = 16

In [28]:
data_for_clust =  table_data.ix[:,1:].as_matrix()
data_for_clust

array([[ 101.        ,   41.58415842,    4.        ,    3.96      ],
       [ 334.        ,   47.90419162,   17.        ,    5.09      ],
       [ 223.        ,   43.04932735,    7.        ,    3.14      ],
       [  90.        ,   45.55555556,    2.        ,    2.22      ],
       [  32.        ,   53.125     ,    1.        ,    3.12      ],
       [ 167.        ,   49.7005988 ,    8.        ,    4.79      ],
       [ 842.        ,   59.14489311,   24.        ,    2.85      ],
       [ 482.        ,   54.77178423,   14.        ,    2.9       ],
       [ 205.        ,   55.6097561 ,    3.        ,    1.46      ]])

In [30]:
# Вычислим расстояния между каждым набором данных,
# т.е. строками массива data_for_clust
# Вычисляется евклидово расстояние (по умолчанию)
data_dist = pdist(data_for_clust, 'euclidean')
data_dist

array([ 233.45067942,  122.0484294 ,   11.99164689,   70.0278275 ,
         66.62256003,  741.47866558,  381.36077024,  104.97603246,
        111.57227347,  244.48875842,  302.47502003,  167.25225583,
        508.17749947,  148.20580261,  130.03673567,  133.12072558,
        191.35966027,   56.42660642,  619.44261343,  259.35973781,
         22.37379651,   58.50731996,   77.38724884,  752.44472687,
        392.29249454,  115.44550467,  135.23503771,  810.3488829 ,
        450.19080432,  173.03736479,  675.25843815,  315.10361633,
         38.92309135,  360.16541558,  637.35737957,  277.22333198])

In [32]:
# Главная функция иерархической кластеризии
# Объедение элементов в кластера и сохранение в 
# специальной переменной (используется ниже для визуализации 
# и выделения количества кластеров
data_linkage = linkage(data_dist, method='average')
data_linkage

array([[   0.        ,    3.        ,   11.99164689,    2.        ],
       [   2.        ,    8.        ,   22.37379651,    2.        ],
       [   5.        ,   10.        ,   47.67484888,    3.        ],
       [   4.        ,    9.        ,   64.26757373,    3.        ],
       [  11.        ,   12.        ,  124.35917375,    6.        ],
       [   1.        ,    7.        ,  148.20580261,    2.        ],
       [  13.        ,   14.        ,  272.0672065 ,    8.        ],
       [   6.        ,   15.        ,  638.08420269,    9.        ]])

In [33]:
def wgss(data, groups):
    '''Within groups sum of squares (wgss)
#     Сумма квадратов расстояний от центроида до каждой точки данных 
#     в многомерном пространстве.
#     Специально на английском, чтобы объяснить название функции 
    '''
    _data = np.array(data)
    res = 0.0
    for cluster in groups:
        inclust = _data[np.array(groups) == cluster]
        meanval = np.mean(inclust, axis=0)
        res += np.sum((inclust - meanval) ** 2)
    return res

In [34]:
# -------------- Elbow method (метод локтя) -------------------------
elbow = [np.nan, wgss(data_for_clust, [1]*len(data_for_clust[:,1]))]
for k in range(2, 10):
    groups = fcluster(data_linkage, k, criterion='maxclust')
    elbow.append(wgss(data_for_clust, groups))

fig = figure()
ax = fig.add_subplot('121') # 2 графика в строке, выбираем первый график
elbow = np.array(elbow) # Пусть будет numpy массив, удобней...
ax.plot(elbow/np.nanmax(elbow),'o', ls='solid')
ax.set_xlim([0, 10])
ax.set_ylim([0, 1.2])
ax.set_title(u'Сумма внутригрупповых вариаций')
ax.set_xlabel(u'Число кластеров')

ax1 = fig.add_subplot('122') # выбираем второй график в строке

ax1.plot((elbow[1]-elbow)/np.nanmax(elbow),'o', ls='solid') 
ax1.set_xlim([0, 10])
ax1.set_ylim([0, 1.2])
ax1.set_xlabel(u'Число кластеров')
ax1.set_title(u'Доля объясняемой вариации')
# ---------------------------------------------------------------------

In [36]:
# ------------- Проекция кластеров на главные компоненты --------------
pca = PCA(n_components=2) # Будем проецировать данные на 2 главные компоненты
Xt = pca.fit_transform(data_for_clust)
fig = figure()
for k in range(2, 8):
    groups = fcluster(data_linkage, k, criterion='maxclust')
    ax = fig.add_subplot(3, 2, k-1)
    for j, m, c in zip(range(k), 'so><^v', 'rgbmyc'):
        ax.scatter(Xt[groups==(j+1), 0], Xt[groups==(j+1), 1], marker=m, s=30, label='%s'%j, facecolors=c)
        ax.set_title('k=%s'%k)
        ax.legend(fontsize=14, loc="lower right")
fig.suptitle(u'Проекрация кластеров на главные компоненты')
# ---------------------------------------------------------------------


figure()
dendrogram(data_linkage, labels=labels)
title(u'Дендрограмма')

show()

# ------------- Проекция на главные дискриминантны оси-----------------
import seaborn as sns; sns.set(color_codes=True)
rcParams['font.family'] = 'DejaVu Sans' # Импорт seaborn сбрасывает настройки, устанавливаем их снова
rcParams['font.size'] = 16
lda = LDA(n_components=2) # Проецируем данные на 2 главные дискримнационные оси
fig = figure()
for k in range(3, 9):
    groups = fcluster(data_linkage, k, criterion='maxclust')
    lda.fit(data_for_clust, groups)
    Xt = lda.transform(data_for_clust) # Собственно проекция данных
    ax = fig.add_subplot(3, 2, k-2)
    for j, m, c in zip(range(k), 'so><^v', 'rgbmyc'):
        # Проекции при различном числе кластеров разные (в отличие от главных компонент!)
        # Поэтому и данные выглядят на графиках различно
        ax.scatter(Xt[groups==(j+1), 0], Xt[groups==(j+1), 1], marker=m, s=30, label='%s'%j, facecolors=c, zorder=10)
        sns.kdeplot(Xt[:, 0], Xt[:, 1], shade=True, cmap="Blues")
        ax.set_title('k=%s'%k)
        ax.legend(fontsize=14, loc="lower right")
fig.suptitle(u'Проекрация кластеров на дискриминантные оси')
# ---------------------------------------------------------------------

NameError: name 'labels' is not defined

In [45]:
samples_sessions=[]
for i in range(0,len(table_data)):
    a = [table_data.sessions[i]]
    samples_sessions.append(a)
    
samples_sessions = sorted(samples_sessions, key=lambda x: x[0])
samples_sessions

[[32], [90], [101], [167], [205], [223], [334], [482], [842]]

In [46]:
mediana_number = int(len(samples_sessions)/2)
mediana_number

4

In [47]:
import random
import math

NUM_CLUSTERS = 3
TOTAL_DATA = len(samples_sessions)
LOWEST_SAMPLE_POINT = samples_sessions.index(min(samples_sessions)) #element 9 of SAMPLES.
Middle_SAMPLE_POINT = mediana_number
HIGHEST_SAMPLE_POINT = samples_sessions.index(max(samples_sessions)) #element 6 of SAMPLES.
BIG_NUMBER = math.pow(10, 10)


SAMPLES = samples_sessions
data1 = []
centroids = []

class DataPoint:
    def __init__(self, x):
        self.x = x
          
    def set_x(self, x):
        self.x = x
    
    def get_x(self):
        return self.x
      
    def set_cluster(self, clusterNumber):
        self.clusterNumber = clusterNumber
    
    def get_cluster(self):
        return self.clusterNumber

class Centroid:
    def __init__(self, x):
        self.x = x
    
    def set_x(self, x):
        self.x = x
    
    def get_x(self):
        return self.x

In [48]:
def initialize_centroids():
    # Set the centoid coordinates to match the data points furthest from each other.
    # In this example, [31, 51.613, 1, 3.2260000000000004] and [758, 59.234999999999999, 22, 2.9019999999999997]
    centroids.append(Centroid(SAMPLES[LOWEST_SAMPLE_POINT][0]))
    centroids.append(Centroid(SAMPLES[Middle_SAMPLE_POINT][0]))
    centroids.append(Centroid(SAMPLES[HIGHEST_SAMPLE_POINT][0]))
    
    print("Centroids initialized at:")
    print("(", centroids[0].get_x(),")")
    print("(", centroids[1].get_x(),")")
    print("(", centroids[2].get_x(),")")
    print()
    return
#print(initialize_centroids())
#print(centroids.append(Centroid(SAMPLES[HIGHEST_SAMPLE_POINT][0])))

In [49]:
def initialize_datapoints():
    # DataPoint objects' x and y values are taken from the SAMPLE array.
    # The DataPoints associated with LOWEST_SAMPLE_POINT and HIGHEST_SAMPLE_POINT are initially
    # assigned to the clusters matching the LOWEST_SAMPLE_POINT and HIGHEST_SAMPLE_POINT centroids.
    for i in range(TOTAL_DATA):
        newPoint = DataPoint(SAMPLES[i][0])
        
        if(i == LOWEST_SAMPLE_POINT):
            newPoint.set_cluster(0)
        elif(i == Middle_SAMPLE_POINT):
            newPoint.set_cluster(1)
        elif(i == HIGHEST_SAMPLE_POINT):
            newPoint.set_cluster(2)
        else:
            newPoint.set_cluster(None)
            
        data1.append(newPoint)
    
    return

In [50]:
def get_distance(dataPointX, centroidX):
    # Calculate Euclidean distance.
    return math.sqrt(math.pow((centroidX - dataPointX), 2))

In [51]:
def recalculate_centroids():
    totalX = 0
    totalInCluster = 0
    
    for j in range(NUM_CLUSTERS):
        for k in range(len(data1)):
            if(data1[k].get_cluster() == j):
                totalX += data1[k].get_x()
                totalInCluster += 1
        
        if(totalInCluster > 0):
            centroids[j].set_x(totalX / totalInCluster)
               
    return

print(recalculate_centroids())

None

In [52]:
def update_clusters():
    isStillMoving = 0
    
    for i in range(TOTAL_DATA):
        bestMinimum = BIG_NUMBER
        currentCluster = 0
        
        for j in range(NUM_CLUSTERS):
            distance = get_distance(data1[i].get_x(), centroids[j].get_x())
            if(distance < bestMinimum):
                bestMinimum = distance
                currentCluster = j
        
        data1[i].set_cluster(currentCluster)
        
        if(data1[i].get_cluster() is None or data1[i].get_cluster() != currentCluster):
            data1[i].set_cluster(currentCluster)
            isStillMoving = 1
    
    return isStillMoving

In [53]:
def perform_kmeans():
    isStillMoving = 1
    
    initialize_centroids()
    
    initialize_datapoints()
    
    while(isStillMoving):
        recalculate_centroids()
        isStillMoving = update_clusters()
    
    return

perform_kmeans()

Centroids initialized at:
( 32 )
( 205 )
( 842 )

In [54]:
def print_results():
    result_list = []
    for i in range(NUM_CLUSTERS):
        
        for j in range(TOTAL_DATA):            
            
            if(data1[j].get_cluster() == i):
                result = []               
                result.append(data1[j].get_cluster())
                result.append(data1[j].get_x()) 
                result_list.append(result)
                               
    return result_list

print_results()

[[0, 32],
 [1, 90],
 [1, 101],
 [1, 167],
 [1, 205],
 [1, 223],
 [2, 334],
 [2, 482],
 [2, 842]]

In [55]:
cluster_sessions = pd.DataFrame(print_results(),columns = ['#cluster_for_sess','sessions'])
cluster_sessions

   #cluster_for_sess  sessions
0                  0        32
1                  1        90
2                  1       101
3                  1       167
4                  1       205
5                  1       223
6                  2       334
7                  2       482
8                  2       842

In [56]:
result_sessions = (table_data.sort('sessions')).merge(cluster_sessions, on = 'sessions')
result_sessions

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,sessions,bounce_rate,conversions,conversion_rate,city_age,#cluster_for_sess
0,32,53.125000,1,3.12,"Croydon, 55-64",0
1,90,45.555556,2,2.22,"Croydon, 45-54",1
2,101,41.584158,4,3.96,"Croydon, 18-24",1
3,167,49.700599,8,4.79,"London, 18-24",1
4,205,55.609756,3,1.46,"London, 45-54",1
5,223,43.049327,7,3.14,"Croydon, 35-44",1
6,334,47.904192,17,5.09,"Croydon, 25-34",2
7,482,54.771784,14,2.90,"London, 35-44",2
8,842,59.144893,24,2.85,"London, 25-34",2

In [57]:
samples_cr=[]
for i in range(0,len(table_data)):
    a = [table_data.conversion_rate[i]]
    samples_cr.append(a)
    
samples_cr = sorted(samples_cr, key=lambda x: x[0])
samples_cr

[[1.46],
 [2.2200000000000002],
 [2.8500000000000001],
 [2.8999999999999999],
 [3.1200000000000001],
 [3.1400000000000001],
 [3.96],
 [4.79],
 [5.0899999999999999]]

In [58]:
import random
import math

NUM_CLUSTERS = 3
TOTAL_DATA = len(samples_cr)
LOWEST_SAMPLE_POINT = samples_cr.index(min(samples_cr)) #element 9 of SAMPLES.
Middle_SAMPLE_POINT = mediana_number
HIGHEST_SAMPLE_POINT = samples_cr.index(max(samples_cr)) #element 6 of SAMPLES.
BIG_NUMBER = math.pow(10, 10)


SAMPLES = samples_cr
data1 = []
centroids = []

class DataPoint:
    def __init__(self, x):
        self.x = x
          
    def set_x(self, x):
        self.x = x
    
    def get_x(self):
        return self.x
      
    def set_cluster(self, clusterNumber):
        self.clusterNumber = clusterNumber
    
    def get_cluster(self):
        return self.clusterNumber

class Centroid:
    def __init__(self, x):
        self.x = x
    
    def set_x(self, x):
        self.x = x
    
    def get_x(self):
        return self.x

In [59]:
def initialize_centroids():
    # Set the centoid coordinates to match the data points furthest from each other.
    # In this example, [31, 51.613, 1, 3.2260000000000004] and [758, 59.234999999999999, 22, 2.9019999999999997]
    centroids.append(Centroid(SAMPLES[LOWEST_SAMPLE_POINT][0]))
    centroids.append(Centroid(SAMPLES[Middle_SAMPLE_POINT][0]))
    centroids.append(Centroid(SAMPLES[HIGHEST_SAMPLE_POINT][0]))
        
    print("Centroids initialized at:")
    print("(", centroids[0].get_x(),")")
    print("(", centroids[1].get_x(),")")
    print("(", centroids[2].get_x(),")")
    print()
    return
#print(initialize_centroids())
#print(centroids.append(Centroid(SAMPLES[HIGHEST_SAMPLE_POINT][0])))

In [60]:
def initialize_datapoints():
    # DataPoint objects' x and y values are taken from the SAMPLE array.
    # The DataPoints associated with LOWEST_SAMPLE_POINT and HIGHEST_SAMPLE_POINT are initially
    # assigned to the clusters matching the LOWEST_SAMPLE_POINT and HIGHEST_SAMPLE_POINT centroids.
    for i in range(TOTAL_DATA):
        newPoint = DataPoint(SAMPLES[i][0])
        
        if(i == LOWEST_SAMPLE_POINT):
            newPoint.set_cluster(0)
        elif(i == Middle_SAMPLE_POINT):
            newPoint.set_cluster(1)
        elif(i == HIGHEST_SAMPLE_POINT):
            newPoint.set_cluster(2)
        else:
            newPoint.set_cluster(None)
            
        data1.append(newPoint)
    
    return

In [61]:
def get_distance(dataPointX, centroidX):
    # Calculate Euclidean distance.
    return math.sqrt(math.pow((centroidX - dataPointX), 2))

In [62]:
def recalculate_centroids():
    totalX = 0
    totalInCluster = 0
    
    for j in range(NUM_CLUSTERS):
        for k in range(len(data1)):
            if(data1[k].get_cluster() == j):
                totalX += data1[k].get_x()
                totalInCluster += 1
        
        if(totalInCluster > 0):
            centroids[j].set_x(totalX / totalInCluster)
               
    return

print(recalculate_centroids())

None

In [72]:
def update_clusters():
    isStillMoving = 0
    
    for i in range(TOTAL_DATA):
        bestMinimum = BIG_NUMBER
        currentCluster = 0
        
        for j in range(NUM_CLUSTERS):
            distance = get_distance(data1[i].get_x(), centroids[j].get_x())
            if(distance < bestMinimum):
                bestMinimum = distance
                currentCluster = j
        
        data1[i].set_cluster(currentCluster)
        
        if(data1[i].get_cluster() is None or data1[i].get_cluster() != currentCluster):
            data1[i].set_cluster(currentCluster)
            isStillMoving = 1
    
    return isStillMoving

In [87]:
def perform_kmeans():
    isStillMoving = 1
    
    initialize_centroids()
    
    initialize_datapoints()
    
    while(isStillMoving):
        recalculate_centroids()
        isStillMoving = update_clusters()
    
    return
perform_kmeans()

Centroids initialized at:
( 1.46 )
( 2.27043478261 )
( 3.23026666667 )

In [29]:
def print_results():
    result_list = []
    for i in range(NUM_CLUSTERS):
        
        for j in range(TOTAL_DATA):            
            
            if(data1[j].get_cluster() == i):
                result = []               
                result.append(data1[j].get_cluster())
                result.append(data1[j].get_x()) 
                result_list.append(result)
               
    return result_list

print_results()

[[0, 1.46],
 [1, 2.2200000000000002],
 [2, 2.8500000000000001],
 [2, 2.8999999999999999],
 [2, 3.1200000000000001],
 [2, 3.1400000000000001],
 [2, 3.96],
 [2, 4.79],
 [2, 5.0899999999999999]]

In [ ]:
samples_cr=[]
for i in range(0,len(table_data)):
    a = [table_data.conversion_rate[i]]
    samples_cr.append(a)
    
samples_cr = sorted(samples_cr, key=lambda x: x[0])
samples_cr

In [89]:
len(samples_cr)

9

In [ ]:
import random
import math

NUM_CLUSTERS = 3
TOTAL_DATA = 9
LOWEST_SAMPLE_POINT = 0 #element 0 of SAMPLES.
Middle_SAMPLE_POINT = 4
HIGHEST_SAMPLE_POINT = 8 #element 3 of SAMPLES.
BIG_NUMBER = math.pow(10, 10)

SAMPLES = samples_cr

data = []
centroids = []

class DataPoint:
    def __init__(self, x):
        self.x = x
       
    
    def set_x(self, x):
        self.x = x
    
    def get_x(self):
        return self.x
    
    def set_cluster(self, clusterNumber):
        self.clusterNumber = clusterNumber
    
    def get_cluster(self):
        return self.clusterNumber

class Centroid:
    def __init__(self, x):
        self.x = x
         
    def set_x(self, x):
        self.x = x
    
    def get_x(self):
        return self.x
    
def initialize_centroids():
    # Set the centoid coordinates to match the data points furthest from each other.
    # In this example, (1.0, 1.0) and (5.0, 7.0)
    centroids.append(Centroid(SAMPLES[LOWEST_SAMPLE_POINT][0]))
    centroids.append(Centroid(SAMPLES[Middle_SAMPLE_POINT][0]))
    centroids.append(Centroid(SAMPLES[HIGHEST_SAMPLE_POINT][0]))
    
    print("Centroids initialized at:")
    print("(", centroids[0].get_x(), ")")
    print("(", centroids[1].get_x(), ")")
    print("(", centroids[2].get_x(), ")")
    print()
    return

def initialize_datapoints():
    # DataPoint objects' x and y values are taken from the SAMPLE array.
    # The DataPoints associated with LOWEST_SAMPLE_POINT and HIGHEST_SAMPLE_POINT are initially
    # assigned to the clusters matching the LOWEST_SAMPLE_POINT and HIGHEST_SAMPLE_POINT centroids.
    for i in range(TOTAL_DATA):
        newPoint = DataPoint(SAMPLES[i][0])
        
        if(i == LOWEST_SAMPLE_POINT):
            newPoint.set_cluster(0)
        elif(i == Middle_SAMPLE_POINT):
            newPoint.set_cluster(1)
        elif(i == HIGHEST_SAMPLE_POINT):
            newPoint.set_cluster(2)
        else:
            newPoint.set_cluster(None)
            
        data.append(newPoint)
    
    return

def get_distance(dataPointX, centroidX, ):
    # Calculate Euclidean distance.
    return math.sqrt(math.pow((centroidX - dataPointX), 2))

def recalculate_centroids():
    totalX = 0
    totalY = 0
    totalInCluster = 0
    
    for j in range(NUM_CLUSTERS):
        for k in range(len(data)):
            if(data[k].get_cluster() == j):
                totalX += data[k].get_x()
                totalInCluster += 1
        
        if(totalInCluster > 0):
            centroids[j].set_x(totalX / totalInCluster)
           
    
    return

def update_clusters():
    isStillMoving = 0
    
    for i in range(TOTAL_DATA):
        bestMinimum = BIG_NUMBER
        currentCluster = 0
        
        for j in range(NUM_CLUSTERS):
            distance = get_distance(data[i].get_x(), centroids[j].get_x())
            if(distance < bestMinimum):
                bestMinimum = distance
                currentCluster = j
        
        data[i].set_cluster(currentCluster)
        
        if(data[i].get_cluster() is None or data[i].get_cluster() != currentCluster):
            data[i].set_cluster(currentCluster)
            isStillMoving = 1
    
    return isStillMoving

def perform_kmeans():
    isStillMoving = 1
    
    initialize_centroids()
    
    initialize_datapoints()
    
    while(isStillMoving):
        recalculate_centroids()
        isStillMoving = update_clusters()
    
    return
perform_kmeans()
def print_results():
    for i in range(NUM_CLUSTERS):
        print("Cluster ", i, " includes:")
        for j in range(TOTAL_DATA):
            if(data[j].get_cluster() == i):
                print("(", data[j].get_x(), ")")
        print()
    
    return

perform_kmeans()
print_results()

In [109]:
def print_results():
    for i in range(NUM_CLUSTERS):
        print("Cluster ", i, " includes:")
        for j in range(TOTAL_DATA):
            if(data[j].get_cluster() == i):
                print("(", data[j].get_x(), ")")
        print()
    
    return

perform_kmeans()
print_results()

Centroids initialized at:
( 1.46 )
( 2.29 )
( 3.22333333333 )

Cluster  0  includes:
( 1.46 )

Cluster  1  includes:
( 2.22 )

Cluster  2  includes:
( 2.85 )
( 2.9 )
( 3.12 )
( 3.14 )
( 3.96 )
( 4.79 )
( 5.09 )

In [32]:
cluster_cr = pd.DataFrame(print_results(),columns = ['#cluster_for_cr','conversion_rate'])
cluster_cr

   #cluster_for_cr  conversion_rate
0                0             1.46
1                1             2.22
2                2             2.85
3                2             2.90
4                2             3.12
5                2             3.14
6                2             3.96
7                2             4.79
8                2             5.09

In [33]:
result_cr = (table_data.sort('conversion_rate')).merge(cluster_cr, on = 'conversion_rate')
result_cr

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,sessions,bounce_rate,conversions,conversion_rate,city_age,#cluster_for_cr
0,205,55.609756,3,1.46,"London, 45-54",0
1,90,45.555556,2,2.22,"Croydon, 45-54",1
2,842,59.144893,24,2.85,"London, 25-34",2
3,482,54.771784,14,2.90,"London, 35-44",2
4,32,53.125000,1,3.12,"Croydon, 55-64",2
5,223,43.049327,7,3.14,"Croydon, 35-44",2
6,101,41.584158,4,3.96,"Croydon, 18-24",2
7,167,49.700599,8,4.79,"London, 18-24",2
8,334,47.904192,17,5.09,"Croydon, 25-34",2

In [34]:
finish = result_sessions.merge(result_cr, on = "city_age")
finish

,sessions_x,bounce_rate_x,conversions_x,conversion_rate_x,city_age,#cluster_for_sess,sessions_y,bounce_rate_y,conversions_y,conversion_rate_y,#cluster_for_cr
0,32,53.125000,1,3.12,"Croydon, 55-64",0,32,53.125000,1,3.12,2
1,90,45.555556,2,2.22,"Croydon, 45-54",1,90,45.555556,2,2.22,1
2,101,41.584158,4,3.96,"Croydon, 18-24",1,101,41.584158,4,3.96,2
3,167,49.700599,8,4.79,"London, 18-24",1,167,49.700599,8,4.79,2
4,205,55.609756,3,1.46,"London, 45-54",1,205,55.609756,3,1.46,0
5,223,43.049327,7,3.14,"Croydon, 35-44",1,223,43.049327,7,3.14,2
6,334,47.904192,17,5.09,"Croydon, 25-34",2,334,47.904192,17,5.09,2
7,482,54.771784,14,2.90,"London, 35-44",2,482,54.771784,14,2.90,2
8,842,59.144893,24,2.85,"London, 25-34",2,842,59.144893,24,2.85,2

In [36]:
finish = finish[['city_age','#cluster_for_sess','#cluster_for_cr','sessions_x','conversion_rate_x',]]
finish

,city_age,#cluster_for_sess,#cluster_for_cr,sessions_x,conversion_rate_x
0,"Croydon, 55-64",0,2,32,3.12
1,"Croydon, 45-54",1,1,90,2.22
2,"Croydon, 18-24",1,2,101,3.96
3,"London, 18-24",1,2,167,4.79
4,"London, 45-54",1,0,205,1.46
5,"Croydon, 35-44",1,2,223,3.14
6,"Croydon, 25-34",2,2,334,5.09
7,"London, 35-44",2,2,482,2.90
8,"London, 25-34",2,2,842,2.85